.todo {
  display: flex;
}
.container {
  width: 350px;
  height: 240px;
  background-color: rgba(3, 3, 88, 0.945);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.todoitemlist {
  padding-left: 10px;
  overflow: auto;
  height: 100px;
}
